<section class="correct-answers">
    <div class="container">
        <div class="pre-title">
            Результат прохождения теста
            <img src="../images/small-gray-arrow.svg" alt="Стрелка">
            <span id="test-name"></span>
        </div>
        <div class="title"><span>Правильные ответы</span> к тесту</div>
        <div class="completed-by">Тест выполнил <span id="completed-by"></span></div>
        <div class="questions" id="questions"></div>
        <a href="javascript: void(0)" id="go-back">
            Обратно к моему результату теста
            <img src="../images/small-arrow.svg" alt="Стрелка">
        </a>

    </div>
</section>